.table{
    float: none;
    margin: auto;
}
.button-logout {
    float: right;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8c038+0,ee7f2d+42,e14c24+100 */
    background: rgb(248,192,56); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(248,192,56,1) 0%, rgba(238,127,45,1) 42%, rgba(225,76,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(248,192,56,1) 0%,rgba(238,127,45,1) 42%,rgba(225,76,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(248,192,56,1) 0%,rgba(238,127,45,1) 42%,rgba(225,76,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c038', endColorstr='#e14c24',GradientType=0 ); /* IE6-9 */
    border: 1px solid #B23516;
    text-decoration: none;
}

.button-logout:hover {
    color: #DCD3CA;
    box-shadow: 3px 3px 5px #DCD3CA;
}

.table-accounts{
    margin-top: 50px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 28px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px yellow , 0 0 70px yellow , 0 0 80px yellow , 0 0 100px grey ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.table-accounts:hover{
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

td{
    border-radius: 5px;
    padding: 0px 20px;
}

h2{
    text-align: center;
}

th{
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9701d+0,d75000+100 */
    background: rgb(233,112,29); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(233,112,29,1) 0%, rgba(215,80,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(233,112,29,1) 0%,rgba(215,80,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(233,112,29,1) 0%,rgba(215,80,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9701d', endColorstr='#d75000',GradientType=0 ); /* IE6-9 */
}